---
---

{% include reset.css %}
{% include fonts.css %}

/* TAG STYLES -----------------------------------------------------------------*/

body {
  font: 16px/1.5 verdana, helvetica-neue, helvetica, arial, san-serif;
  /*background: #313131;*/
  background: hsl(67, 29%, 94%);
  color: #fff;
  padding: 0;
  margin: 0;
}

#main {
  width: 960px;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.3);
}

#green {
  height: 10px;   
  /*background: #77a12f;*/
  background: hsl(88, 48%, 46%);
  -webkit-box-shadow: 0 5px 5px rgba(0,0,0,0.50), rgba(0,0,0,0.8) 0px 0px 3px inset;
  -moz-box-shadow: 0 5px 5px rgba(0,0,0,0.50), rgba(0,0,0,0.8) 0px 0px 3px inset;
}

header  {
  height: 100px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(90,90,90,.55)), to(rgba(0,0,0,.55)));
  background: -moz-linear-gradient(top, rgba(90,90,90,.55), rgba(0,0,0,.55));
  padding: 0 10px;
  overflow: hidden;
}

header h1 a, header h1 a:hover {
  color: #fff;
  text-decoration: none
}

h1 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

nav ul, ul.entries {
  list-style-type: none;
}

nav li a {
  float: left;
  margin: 5px;
  color: hsl(82, 55%, 40%);
}

a {
  color: hsl(82, 55%, 20%);
  text-decoration: none;
}

a:hover {
  color: hsl(82, 55%, 60%);
  text-decoration: underline;
}


.content {
  padding: 50px;
}


ul.entries li {
  margin: 20px auto;
  position: relative; 
  padding: 20px;
  /*background: rgba(255, 255, 255, 0.6);*/
  width: 600px;
}

ul.entries img {
  width: 600px;
}

/*
img {
    float: right;
    margin: 0 0 10px 20px;
    border: 1px solid #ccc;
}
*/
img[src*=thumbnails] {
    float: left;
    margin: 0 20px 10px 0;
}

img[src*=photos] {
    padding: 5px 5px 30px 5px;
    background: blue;
    -moz-box-shadow: 3px 6px 8px -4px #999;
    -webkit-box-shadow: 3px 6px 8px -4px #999;
    box-shadow: 3px 6px 8px -4px #999;
    -moz-transform: rotate(2deg);
    -o-transform: rotate(2deg);
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
}

img[src*=photos]:nth-of-type(even) {
    background: red;
    -moz-transform: rotate(-2deg);
    -o-transform: rotate(-2deg);
    -webkit-transform: rotate(-2deg);
    transform: rotate(-2deg);
}

img[src*=photos]:nth-of-type(3n) {
    -moz-transform: rotate(1deg);
    -o-transform: rotate(1deg);
    -webkit-transform: rotate(1deg);
    transform: rotate(1deg);
}



/*
ul.entries li h3 {
  position: absolute;
  bottom: -18px;
  left: 17px;
  font-size: 2em;
}
ul.entries a {
  color: #ececec;
}
ul.entries a:hover {
  color: #fff;
}
*/

footer {
  margin: 0 auto;
  font-size: 0.75em;
  text-align: center;
}


